body {
  width: 100%;
  background: rgb(5, 5, 61);
  color: rgb(255, 255, 255);
}
body ::-webkit-scrollbar {
  width: 0;
}

h2 {
  margin-top: 30px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a ::after {
  color: red;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}
.navbar {
  background: rgb(53, 49, 49);
  color: white;
}
.display-card {
  width: 300px;
}
.trending-show h2 {
  margin-top: 70px;
}
.trending-show,
.new-movies,
.best-animation,
.family-time,
.adrenaline {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  overflow-x: hidden;
  gap: 17px;
  align-items: center;
  width: 100%;
  white-space: nowrap;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.trending-show:hover,
.new-movies:hover,
.best-animation:hover,
.family-time:hover,
.adrenaline:hover {
  animation: scroll-horizontal 15s linear infinite; /* Start animation on hover */
  max-width: 800px;
}

.trending-show::-webkit-scrollbar {
  width: 0;
}
.new-movies::-webkit-scrollbar {
  width: 0;
}
.best-animation::-webkit-scrollbar {
  width: 0;
}
.family-time::-webkit-scrollbar {
  width: 0;
}
.adrenaline::-webkit-scrollbar {
  width: 0;
}

.trending-show img {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  border-radius: 4px;
}
.new-movies img {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}
.best-animation img {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}
.family-time img {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}
.adrenaline img {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 150px;
}
